Django>=4.0
djangorestframework~=3.16.0
django-extensions
Werkzeug
pyOpenSSL
psycopg2-binary
python-dotenv~=1.1.0
drf-spectacular~=0.28.0
drf-spectacular-sidecar
django-cors-headers>=4.0.0
google-auth
requests~=2.32.4
PyPDF2>=3.0.0
djangorestframework-simplejwt
langid~=1.1.6
openai>=0.27.0
tiktoken>=0.3.0
pikepdf>=5.0.0
django-cors-headers
django-filter~=25.1
google.generativeai
django_ratelimit~=4.1.0
pdfplumber~=0.11.7
protobuf~=5.29.5
jsonschema~=4.23.0